footer {
    width: 100%;
    background-color: var(--maroon);
    padding: 50px 4% !important;
    color: #FFF !important;
}

.footer__links,
.footer__content,
.social__media {
    margin-top: 50px;
}

footer .row {
    margin: 0;
}

footer ul {
    list-style: none;
    padding: 0 !important;
    margin: 0;
}

footer ul li {
    padding: 0.4rem 0;
}

footer hr {
    border-color: #FFF;
}

footer label {
    margin: 0;
    font-size: 0.9rem;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social__media__icons {
    max-width: 100%;
}

.social__media__icons i {
    cursor: pointer;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.social__media__icons i:hover {
    opacity: 0.5;
    transition: 0.1s ease-in-out;
}